// General Settings
general =
{
	name = "{{ shairport_sync_name }}";
};


// These are parameters for the "alsa" audio back end.
alsa =
{
  output_device = "{{ shairport_sync_output_device }}";
  mixer_control_name = "{{ shairport_sync_mixer_control_name }}";
};

